/* 表格统一样式 */
.el-table .el-table__header-wrapper thead th,
.el-table .el-table__fixed-header-wrapper thead th {
  padding: 0;
  background-color: #F9F9F9;
  height: 50px;
  line-height: 40px;
  color: #283543;
}
/* 滚动条样式优化 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #cccccc;
  border-radius: 4px;
}
/* 主内容设置 */
.content {
  margin: 20px 0px;
}

.my-pagination-ctr .el-select-dropdown__item.selected{
  color: #3f6949;
}
.el-button.el-button--default.el-button--small:hover{
  color: #4f7458;
  background-color: #dcf5e1;
  border-color: #dcf5e1;
}
.el-button.el-button--default.el-button--small.el-button--primary{
  color: #fff;
  background-color: #4f7458;
  border-color: #3f6949;
}
.el-button.el-button--default.el-button--small.el-button--primary:hover{
  background-color: #3f6949;
}
.el-message-box__headerbtn:focus .el-message-box__close, .el-message-box__headerbtn:hover .el-message-box__close{
  color: #4f7458 !important;
}
.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path{
  color: #4f7458 !important;
}
